@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://img.freepik.com/free-photo/black-background-with-white-spotlight_53876-104891.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: rgba(0, 0, 0, 0.687);
    height: 640px;
    width: 450px; 
    border-radius: 15px;
    justify-self: center;
    margin: 100px;
    box-shadow: 4px 5px black;
}
.container input{
    background:none;
    border: none;
    width: 400px;
    height: 70px;
    border-radius: 15px;
    margin: 50px 25px;
    font-size: 50px;
    text-align: right;
}

.row{
    display: flex;
    gap: 30px ;
    padding: 8px;
    padding-left: 40px;
    text-align: center;
}

button{
    border: none;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 8px 0px rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    font-family: poppins;
    align-content: center;
}

.op{
    color: greenyellow;
}
.equal{
    background-color: orange;
}

.nums:hover{
    background-color: rgba(79, 79, 79, 0.607);
}